.font {
    fill: white;
    font-family: System-Regular;
    text-anchor: middle;
}

.large {
    font-size: 80;
}

.small {
    font-size: 30;
}

.xsmall {
    font-size: 15;
    fill: "#FFE8E5";
}

.icon {
    width: 8%;
    height: 10%;  
}

#imgSakura {
    width: 68%;
    height: 50%; 
    x: 40%;
    y: -10%;
}

#imgHeart {
    x: 26%;
    y: 74%;
}

#imgFoot {
    x: 82%;
    y: 71%;
}

#myClock {
    text-length: 32;
    x: 50%;
    y: 50%+20;
}

#myHeartRate {
    text-length: 3;
    x: 20%;
    y: 83%;
}

#mySteps {
    text-length: 6;
    x: 70%;
    y: 80%;
}

#myDistance {
    text-length: 9;
    x: 70%;
    y: 87%;
}